@use "@styles/mixin.module.scss" as *;
@use "@styles/variables.module.scss" as *;

.container {
    @include flex_box_custom(center, center, 0px);

    background-image: url(../../assets/icons/images/Banner-Ecommerse.jpeg);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    @include flex_box_custom(center, center, 10px);

    flex-direction: column;
}

.title {
    font-size: 42px;
    color: $fourth_color;
    font-weight: 400;
    margin: 15px;
}

.description {
    margin-bottom: 15px;
}


