@use "@styles/mixin.module.scss" as *;
@use "@styles/variables.module.scss" as *;

.btn {
    @include btn(174px, 42px, $primary_color, 3px);
    color: $white_color;

    &:hover {
        background-color: #fff0;
        color: $primary_color;
        border: 1px solid $primary_color;
        transition: all 0.3s ease;
        cursor: pointer;
    }
}
